/*cabeçalho com a logo e o título*/
header{
    position: sticky;
    top: 0;
}

.header{
    background: #9932CC;
}

.header h2{
    font-size: 27px;
    color: #F5F5F5;
    position: absolute;
    top: 45px;
    left: 100px;
}

.header img{
    width: 100px;
    padding: 12px 0px 8px 10px;
}

/*menu com as categorias*/
.menu{
    top: 123px;
    background:#BA55D3;
}

.menu li{ 
    display: inline;
    text-align: center;
} 
 
.button-padrao{
    background-color:#BA55D3;
    color: black; 
    font-size: 18px; 
    padding: 7px 13px;
    border: none;
}

.button-teste{
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
    color: black; 
    font-size: 18px; 
    padding: 7px 13px;
}

/**/
body, main{
    background-color: #E6E6FA;
}

.receitas{
    width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px 10%;
    padding: 50px;
}

.receitas div{
    display: inline-block;
    text-align: center;
    padding-top: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: #4B0082;
}

.foto-receita{
    width: 80%;
}

.receitas h3, h4{
    padding: 5px;
}

.like::before{
    margin-left: 0px;
    padding: 5px;
    content: '🤍' ;
    font-size: 1.2em;
    text-align: center;
}

.clicado::before {
    content: '💜';
}

.hide{
    display:none;  
}

@media screen and (max-width:480px){
    .receitas{
        display: block;
        width: 300px;
    }

    .receitas div{
        margin: 15px;
    }

    header{
        width: 400px;
    }
}